/* HEADER */
a {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.head {
  opacity: 0.75;
}
.apps {
  opacity: 0.55;
}
.head:hover, .apps:hover{
  opacity: 0.85;
}

.head{
  margin-right: 9px;
}

.apps{
  margin: 0 8px;
}

.header {
  font-size: 13px;
  font-family: arial, sans-serif;
  float: right;
  /* display: flex;
  align-items: center; /doesn't work/ */
  padding-right: 30px;
  padding-left: 30px;
  margin-top: -9px;
}
.header a{
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  color: #000;
}
.sign-in a{
  background-color: #4285f4;
  color: white;
  border: solid 1px #4285f4;
  font-weight: bold;
  text-decoration: none;
  display: inline-block; /*needs to be together with line-height to work properly*/
  line-height: 28px;
  padding: 0 12px;
  border-radius: 2;
  margin-left: 2px;
}
.header li{
  display: inline;
}


/* MAIN */
/*
input.button {
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  display: inline-block;
  background-color: #f2f2f2;
  margin: 11px 4px;
  padding: 5px 16px;
  color: #757575;
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: 13px;
}

input.button:hover {
  color: #222;
  border: 1px solid #c6c6c6;
  background-image: gradient (top, #f8f8f8, #f1f1f1)
  box-shadow: 0px 1px 1px rgba(o, o, o, o.1)
}
*/
/* FOOTER */
footer {
  font-size: 13px;
  font-family: arial, sans-serif;
  /*line-height: 40px; /check later if it's needed/ */
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
footer ul{
  padding-left: 0;
}
.footer li {
  display: inline;
  padding-left: 27px;
}

.left{
  float: left;
}

.right{
  float: right;
  margin-right: 30px;
}

.footer a {
  color: #777;
}
